{% extends 'myapp/base.html' %}

<script>
{% block jquery %}
var endpoint = '/api/chart/data'
var Peak = []
var Date = []
var std_RSD = []
var std = []
var co_std = []
var resolution = []
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        console.log(data)
        Date = data.Date
        Peak = data.peakTailing
        std_RSD = data.standard_RSD
        std = data.standardStdDev
        co_std = data.CorrelationOfStandards
        resolution = data.resolution
        setChart1()
        setChart2()
        setChart3()
        setChart4()
        setChart5()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
    function setChart1(){
    var ctx = document.getElementById('myChart1').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: Date,
                datasets: [{
                    label: 'Peak Tailing',
                    data: Peak,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    }

    function setChart2(){
    var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: Date,
                datasets: [{
                    label: 'Standard_RSD',
                    data: std_RSD ,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    }
    function setChart3(){
    var ctx = document.getElementById('myChart3').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: Date,
                datasets: [{
                    label: 'Standard Deviation',
                    data: std,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    }
    function setChart4(){
    var ctx = document.getElementById('myChart4').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: Date,
                datasets: [{
                    label: 'Correlation of Standards',
                    data: co_std ,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    }
    function setChart5(){
    var ctx = document.getElementById('myChart5').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: Date,
                datasets: [{
                    label: 'Resolution',
                    data: resolution ,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    }


{% endblock %}
</script>

{% block content %}
    {% if request.session.Method and request.session.DatePresent%}
        <h3>Method:{{ request.session.Method }}</h3>
        <h3>Method:{{ request.session.Date }}</h3>
    {% else %}
        <h3>Method:{{ request.session.Method }}</h3>
    {% endif %}

<div class='row'>
    <div class='col-sm-6' url-endpoint='{% url "api-data" %}'>
        <h1>Peak Tailing</h1>
        <canvas id="myChart1" width="200px" height="200px" ></canvas>
    </div>

    <div class='col-sm-6' url-endpoint='{% url "api-data" %}'>
        <h1>Standard RSD</h1>
        <canvas id="myChart2" width="200px" height="200px" ></canvas>
    </div>
</div>
<div class='row'>
    <div class='col-sm-6' url-endpoint='{% url "api-data" %}'>
        <h1>Standard Deviation</h1>
        <canvas id="myChart3" width="200px" height="200px" ></canvas>
    </div>

    <div class='col-sm-6' url-endpoint='{% url "api-data" %}'>
        <h1>Correlation of Standard</h1>
        <canvas id="myChart4" width="200px" height="200px" ></canvas>
    </div>
</div>

<div class='row'>
    <div class="col-sm-6" url-endpoint='{% url "api-data" %}'>
        <h1>Resolution</h1>
        <canvas id="myChart5" width="200px" height="200px" ></canvas>
    </div>
</div>

{% endblock content %}
