{% extends 'myapp/base.html' %}
{% block body_block %}

    <form action="" method="post">
        {% csrf_token %}

       {{ form.non_field_errors }}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}
    <div>
        {% for field in form.visible_fields %}
            <div class="form-group">
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}


        <!--<table>
            {{ form.as_table }}
        </table>-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
{% endblock %}