{% extends 'myapp/base.html' %}
{% block body_block %}

<h2>Analyst Name:{{ analyst.first_name }} {{ analyst.last_name }}</h2>
    <h3>Below are the previous entries:</h3>
        <table class="table table-hover">
        <thead>
          <tr>
            <th>Method Number</th>
            <th>Date</th>
            <th>Reference</th>
            <th>Standard RSD</th>
            <th>Standard SD</th>
            <th>Std Correlation</th>
            <th>Tailing</th>
            <th>Resolution</th>
          </tr>
        </thead>
        <tbody>
        {% for ent in analyst_details %}
            <tr>
                <td>{{ ent.method.Method_Number }}</td>
                <td>{{ ent.date }}</td>
                <td>{{ ent.reference }}</td>
                <td>{{ ent.standard_RSD }}</td>
                <td>{{ ent.standardStdDev }}</td>
                <td>{{ ent.CorrelationOfStandards }}</td>
                <td>{{ ent.peakTailing }}</td>
                <td>{{ ent.resolution }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>

<!--<a href="{% url 'myapp:my_analysis' %}">Register another entry</a></li>-->
{% endblock %}